body{
 background-image: linear-gradient(to top right ,rgb(77, 0, 77), rgb(1, 47, 56) ,rgb(4, 103, 165));
 background-repeat: no-repeat;
 height: 937px;
}
.navbar{
  display: flex;
  margin-left: 80px;
}
ul{
  display: flex;
  color: white;
  list-style: none;
  margin-top: 45px;
  font-size: 18px;
}
#logo{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
li{
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.sign{
  margin-left: 100px;
}
.sign1{
  margin-left: 300px;
}
#nav-btn{
  border: 1px solid white;
  background-color: transparent;
  padding: 8px 18px 8px 18px;
  color: white;
  font-size: 18px;
  border-radius: 7px;
  margin-top: -17px;
}
#section-head{
  color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 46px;
}
p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
}
#join{
  background-color: #4fade7;
  padding: 13px 25px 13px 25px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}
#learn{
  background-color: transparent;
  padding: 13px 25px 13px 25px;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  
}
img{
  margin-left: 1200px;
  margin-top: -360px;
}
.section{
  margin-top: 200px;
  margin-left: 110px;
}